.icon {
position: relative;
display: grid;
place-items: center;
z-index: 1;
width: 1.5rem;
color: var(--bk3);
}
button.icon {
background: none;
border: none;
outline: none;
}
.icon::before {
position: absolute;
content: '';
width: 2.5rem;
height: 2.5rem;
border-radius: 99px;
background: var(--gr2);
z-index: -1;
pointer-events: none;
opacity: 0;
transform: scale(0);
}
.icon svg {
color: var(--bk3);
}
.icon:hover svg {
color: var(--bk2);
}
.icon:hover::before {
opacity: 1;
transform: scale(1);
}
